@model WebRunApplication.DataEntity.Help

<link rel="stylesheet" href="~/css/PersonalAccountStyle.css" />

<div class="first_inner_div">
    @using (Html.BeginForm("Answer", "Admin", FormMethod.Post))
    {
        <h5>@Model.Question</h5>
        @Html.HiddenFor(x => x.Id)
        @Html.TextAreaFor(x => x.Answer)
        <input type="submit" value="Ответить" />
    }
</div>
