* :not(span){
    font-family: 'Cascadia Mono';
}

.custom_div {
    border: 3px dashed #1C6EA4;
    border-radius: 15px;
    display: flex;
    /*margin: 30px 100px 10px 100px;*/
    margin: 50px 50% 10px 50%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.card-photo {
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 50%;
    border: 1px solid black;
    margin-left:50%;
    transform: translate(-50%);
}

/*h5, h2, h3 {
    text-indent: 10px;
    margin: 10px;
    font-size: 15px;
    text-align:center;
    margin-bottom:-15px;
}*/

.custom_button {
    box-shadow: 1px 1px 3px #888888;
    transition: 0.1s linear;
    border-radius: 15px;
    border-color: rgba(43,44,45,0.4);
    margin: 10px;
    width: 1250px;
    height: 50px;
    font-size: 20px;
    text-indent: 10px;
    text-align:center;
}

.custom_button:hover {
    color: blue;
    opacity: 0.8;
    box-shadow: 0 0 6px blue;
}

.out_div {
    border-radius: 0px;
    border: 3px solid;
    border-color:rgba(70, 148, 215, 0.7);
    width: 100%;
    margin-left: 50%;
    margin-top: 30px;
    transform: translate(-50%);
}

.first_inner_div {
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px 10px 0px 10px;
}

.second_inner_div {
    border: 3px solid rgba(45,46,47, 0.8);
    text-align: center;
    margin: 20px 10px -5px 10px;
    text-anchor:end;
}

.custom_table, td{
    border: 1px solid #333;
    border-radius: 15px;
    margin-left:0px;
    margin-right:0px;
    padding-left:10px;
    padding-right:10px;
    width: 1240px;
    text-align:center;
}

td {
    border-radius: 15px;
}

.div_for_callback {
    border-radius: 15px;
    border: 3px solid rgba(45,46,47, 0.8);
    text-align: center;
    margin: 20px 10px 10px 10px;
    text-anchor: end;
}

.div_for_trainings {
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 20px 10px 0px 10px;
    padding: 10px 0px 15px 0px;
}

div {
    transition: 0.3s linear;
}

.div_for_trainings:hover, .first_inner_div:hover, .div_for_callback:hover {
    box-shadow: 0px 0 5px black;
}